* {
  font-family: "Nosifer", cursive;
}

.header {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(158, 20, 48);
  padding: 0;
  background-image: repeating-radial-gradient(
    rgb(208, 212, 218),
    rgb(198, 199, 202) 10%,
    rgb(197, 197, 201) 15%
  );
}
#mainbox {
  background-image: linear-gradient(
    rgb(198, 199, 202) 20%,
    rgb(198, 199, 202) 75%,
    rgb(158, 20, 38)
  );
}

span {
  color: rgb(90, 22, 34);
}

.sss {
  border: 1px solid rgb(54, 54, 54);
  padding: 5%;
  margin-top: 10px;
}
