/* #head{
    background-color: blue;
} */

.header {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(110, 19, 37);
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 800%;
  padding: 0;
}



/* canvas{ 
    width: 100%;
   
} */
