
.header {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(110, 19, 37);
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 800%;
  padding: 0;
  background-image: repeating-radial-gradient(
    rgb(208, 212, 218),
    rgb(198, 199, 202) 10%,
    rgb(197, 197, 201) 15%
  );
}
#mainbox {
  background-color: rgb(198, 199, 202);
  padding-top: 0;
}


